<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

    <body>
        <div class="bodybg">
            <!-- Header Start -->
            <%- include('partials/header') %>
                <!-- Header End-->
                <section class="hero">

                    <div class="texture"></div>
                    <div class="diag-bg"></div>
                </section>

                <section class="recent-post">
                    <form action="/perfil/<%= usuario.id %> " method="post" autocomplete="off" enctype="multipart/form-data">
                        <div class="cta-content2" style="padding:2em 0 2.5em; margin:3em 0">
                            <div class="container" style="display:block; justify-content: center; align-items: center;">
                                <div class="d-md-flex row align-items-center text-xl-start content-img"
                                    style="flex-direction: column; justify-content: center;">
                                    <div class="col-lg-4">
                                        <div class="test-img">
                                            <img src="/images/users/<%= usuario.avatar %> " alt="">
                                        </div>
                                        <a class="d-flex justify-content-center nav-link dropdown-toggle" href="#"
                                            id="navbarDropdown" role="button" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"
                                            style="transform:521px, 65 px, 0px">
                                            <p class="login">
                                                <i class="fa fa-pencil"></i>
                                            </p>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <input type="file" name="avatar" id="avatar" lang="en">
                                            <% if(usuario.avatar!="default.png" ) {%>

                                                <a class="dropdown-item" href="/perfil/">Cambiar foto</a>
                                                <a class="dropdown-item" href="/perfil/">Eliminar foto</a>
                                                <% }else{ %>
                                                    <a class="dropdown-item" href="/perfil/">Agregar foto</a>
                                                    <% } %>


                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-4 form-group" style="display: flex; justify-content: center; flex-direction: column;">
                                        <label for="description">descripción sobre tí: </label>
                                        <% var saludo = "Hola" %> 
                                        <p><% saludo %> </p>
                                        <div style="display: flex; justify-content: center; padding: 0.5em 0em;">
                                            <%=usuario.description %>
                                                
                                                <% if (usuario.description=="undefined" ||
                                                    usuario.description=="null" ) {%>
                                                    
                                                    <input type="text" name="description" id="description"
                                                        class="form-control"
                                                        placeholder="Agregá una descripción sobre tí"
                                                        autocomplete="randomasdqwea">
                                                    <% }else{ %>
                                                        <input type="text" name="description" id="description"
                                                            class="form-control" value="<%=usuario.idsigno%>"
                                                            placeholder="<%=usuario.description%>" autocomplete="randomasdqwea">


                                                        <% } %>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="pass">Contraseña Actual</label>
                                        <input type="password" class="form-control" name="pass" id="pass"
                                            autocomplete="new-password"></input>
                                        <small id="errorPass" class="text-danger">
                                            <%= (typeof errors !='undefined' && errors.pass)?errors.pass.msg: "" %>
                                        </small>
                                    </div>
                                    <div class="form-group col-lg-4">
                                        <label for="pass">Nueva Contraseña</label>
                                        <input type="password" class="form-control" name="pass" id="pass"></input>
                                        <small id="errorPass" class="text-danger">
                                            <%= (typeof errors !='undefined' && errors.pass)?errors.pass.msg: "" %>
                                        </small>
                                    </div>

                                    <div class="form-group col-lg-4">
                                        <label for="pass2">Reingresar contraseña<span
                                                class="text-danger">*</span></label>
                                        <input type="password" class="form-control" name="pass2">
                                        <small id="errorPass2" class="text-danger">
                                            <%= (typeof errors !='undefined' && errors.pass2)?errors.pass2.msg: "" %>
                                        </small>
                                    </div>
                                    <div class="d-flex justify-content-center" style="padding: 0.5em 0em;">
                                        <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="200"
                                            data-aos-offset="0">
                                            <button type="submit" class="btn btn-primary">Guardar</button>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-center" style="padding: 0.5em 0em;">
                                        <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400"
                                            data-aos-offset="0">
                                            <a href="/perfil/<%= usuario.id %> " class="btn btn-primary">Cancelar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>

                <!-- Footer Start-->
                <%- include('partials/footer') %>
                    <!-- Fotter End-->

        </div>
        <!-- Scripts Start-->
        <%- include('partials/scripts') %>
            <!-- Scripts End-->
    </body>

</html>