<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">

            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>

        <section class="recent-posts services">
            <div class="title text-center">
                <h1 class="title-blue horoscopo">horoscopo</h1>
                <p>Febrero</p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-right" data-aos-duration="800">
                            <div class="post-content text-sm-right">
                                <h1><time datetime="2021-02-06T13:53">22/Diciembre - 20/Enero</time></h1>
                                <h3>
                                    <a href="<%='horoscopo/signo/edit/'+ 12%> ">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    
                                    <a href="<%='horoscopo/signo/'+ 12%> ">Capricornio</a>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quisquam saepe!
                                    Consequatur.</h5>
                                <h6 style="color: rgb(134, 43, 43)">Tierra</h6>

                                <a class="post-btn" href="<%='horoscopo/signo/'+ 12%>"><i
                                        class="fa fa-arrow-right"></i></a>
                            </div>
                            <div class="post-thumb post-left">
                                <a href="<%='horoscopo/signo/'+ 12%>"><img class="img-fluid"
                                        src="/images/icon/Capricornio.png" alt="Post 1">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-left" data-aos-duration="800">
                            <div class="post-thumb">
                                <a href="/zodiacales/acuario.html">
                                    <img class="img-fluid" src="/images/icon/acuario.png" alt="Post 1">
                                </a>
                            </div>
                            <div class="post-content">
                                <h1><time datetime="2019-04-06T13:53">21/Enero - 19/Febrero</time></h1>
                                <h3>
                                    <a href="/zodiacales/acuario.html">Acuario</a>
                                    <i class="fa fa-edit"></i>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur quis quae,
                                    tempore aliquid, hic, iusto fugit iste</h5>
                                <h6 style="color: rgb(190, 242, 255);  text-shadow: 1px  0px 0px black,
                                0px  1px 0px black,
                               -1px  0px 0px black,
                                0px -1px 0px black;">Aire</h6>
                                <a class="post-btn" href="/zodiacales/acuario.html"><i
                                    class="fa fa-arrow-right"></i></a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-right" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-content text-sm-right">
                                <h1><time datetime="2019-04-06T13:53">20/Febrero - 20/Marzo</time></h1>
                                <h3>
                                    <i class="fa fa-edit"></i>
                                    <a href="/zodiacales/piscis.html">Piscis</a>
                                </h3>
                                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ipsum
                                    molestiae
                                    amet aspernatur nulla autem corrupti, unde itaque officia</h5>
                                <h6 style="color: rgb(0, 132, 184);">Agua</h6>
                                <a class="post-btn" href="#"><i class="fa fa-arrow-right"></i></a>

                            </div>
                            <div class="post-thumb post-left">
                                <a href="/zodiacales/acuario.html">
                                    <img class="img-fluid" src="/images/icon/piscis.png" alt="Post 1">
                                </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-left" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-thumb">
                                <a href="/zodiacales/aries.html">
                                    <img class="img-fluid" src="/images/icon/aries.png" alt="Post 1">
                                </a>
                            </div>
                            <div class="post-content">
                                <h1><time datetime="2019-04-06T13:53">21/Marzo - 20/Abril</time></h1>
                                <h3>
                                    <a href="/zodiacales/aries.html">Aries</a>
                                    <i class="fa fa-edit"></i>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellat neque libero
                                    mollitia ut eligendi corrupti illum accusamus. Quos odit aliquam perspiciatis</h5>
                                <h6 style="color:rgb(231, 34, 7)">Fuego</h6>
                                <a class="post-btn" href="/zodiacales/aries.html"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-right" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-content text-sm-right">
                                <h1><time datetime="2019-04-06T13:53">21/Abril - 20/Mayo</time></h1>
                                <h3>
                                    <i class="fa fa-edit"></i>
                                    <a href="/zodiacales/tauro.html">Tauro</a>
                                </h3>
                                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ipsum
                                    molestiae
                                    amet aspernatur nulla autem corrupti, unde itaque officia</p>
                                    <h6 style="color: rgb(134, 43, 43)">Tierra</h6>
                                    <a class="post-btn" href="/zodiacales/tauro.html"><i
                                            class="fa fa-arrow-right"></i></a>

                            </div>
                            <div class="post-thumb post-left">
                                <a href="/zodiacales/tauro.html">
                                    <img class="img-fluid" src="/images/icon/tauro.png" alt="Post 1">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-left" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-thumb">
                                <a href="/zodiacales/geminis.html">
                                    <img class="img-fluid" src="/images/icon/geminis.png" alt="Post 1">
                                </a>
                            </div>
                            <div class="post-content">
                                <h1><time datetime="2019-04-06T13:53">21/Mayo - 21/Junio</time></h1>
                                <h3>
                                    <i class="fa fa-edit"></i>
                                    <a href="/zodiacales/geminis.html">Geminis</a>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellat neque libero
                                    mollitia ut eligendi corrupti illum accusamus. Quos odit aliquam perspiciatis</p>
                                    <h6 style="color: rgb(190, 242, 255); text-shadow: 1px  0px 0px black,
                                0px  1px 0px black,
                               -1px  0px 0px black,
                                0px -1px 0px black">Aire</h6>
                                    <a class="post-btn" href="/zodiacales/geminis.html"><i
                                            class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-right" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-content text-sm-right">
                                <h1><time datetime="2019-04-06T13:53">22/Junio - 22/Julio</time></h1>
                                <h3>                
                                    <i class="fa fa-edit"></i>                  
                                    <a href="/zodiacales/cancer.html">Cancer</a>                                    
                                </h3>
                                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ipsum
                                    molestiae amet aspernatur nulla autem corrupti, unde itaque officia</h5>
                                <h6 style="color: rgb(0, 132, 184)">Agua</h6>
                                <a class="post-btn" href="/zodiacales/cancer.html"><i class="fa fa-arrow-right"></i></a>

                            </div>
                            <div class="post-thumb post-left">
                                <a href="/zodiacales/cancer.html">
                                    <img class="img-fluid" src="/images/icon/cancer.png" alt="Post 1">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-left" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-thumb">
                                <a href="/zodiacales/leo.html">
                                    <img class="img-fluid" src="/images/icon/leo.png" alt="Post 1">
                                </a>
                            </div>
                            <div class="post-content">
                                <h1><time datetime="2019-04-06T13:53">23/Julio - 23/Agosto</time></h1>
                                <h3>
                                    <a href="/zodiacales/leo.html">Leo</a>
                                    <i class="fa fa-edit"></i>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellat neque
                                    libero mollitia ut eligendi corrupti illum accusamus. Quos odit aliquam
                                    perspiciatis</h5>
                                <h6 style="color:rgb(231, 34, 7)">Fuego</h6>
                                <a class="post-btn" href="/zodiacales/leo.html"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-right" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-content text-sm-right">
                                <h1><time datetime="2019-04-06T13:53">24/Agosto - 22/Septiembre</time></h1>
                                <h3>
                                    <i class="fa fa-edit"></i>
                                    <a href="/zodiacales/virgo.html">Virgo</a>
                                    
                                </h3>
                                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ipsum
                                    molestiae
                                    amet aspernatur nulla autem corrupti, unde itaque officia</h5>
                                <h6 style="color: rgb(134, 43, 43)">Tierra</h6>
                                <a class="post-btn" href="/zodiacales/virgo.html"><i class="fa fa-arrow-right"></i></a>

                            </div>
                            <div class="post-thumb post-left">
                                <img class="img-fluid" src="/images/icon/virgo.png" alt="Post 1">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-left" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-thumb">
                                <a href="/zodiacales/libra.html">
                                    <img class="img-fluid" src="/images/icon/libra.png" alt="Post 1">
                                </a>
                            </div>
                            <div class="post-content">
                                <h1><time datetime="2019-04-06T13:53">23/Septiembre - 22/Octubre</time></h1>
                                <h3>
                                    <a href="/zodiacales/libra.html">Libra</a>
                                    <i class="fa fa-edit"></i>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit obcaecati laudantium
                                    cumque ea? Quae temporibus commodi ducimus neque! Deleniti mollitia vero recusandae
                                    odit corporis, hic quos temporibus aperiam optio accusantium!</h5>
                                <h6 style="color: rgb(190, 242, 255); text-shadow: 1px  0px 0px black,
                                0px  1px 0px black,
                               -1px  0px 0px black,
                                0px -1px 0px black">Aire</h6>
                                <a class="post-btn" href="/zodiacales/libra.html"><i class="fa fa-arrow-right"></i></a>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-right" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-content text-sm-right">
                                <h1><time datetime="2019-04-06T13:53">23/Octubre - 22/Noviembre</time></h1>
                                <h3>
                                    <i class="fa fa-edit"></i>
                                    <a href="/zodiacales/escorpio.html">Escorpio</a>
                                </h3>
                                <h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque, ipsum
                                    molestiae amet aspernatur nulla autem corrupti, unde itaque officia</h5>
                                <h6 style="color: rgb(0, 132, 184)">Agua</h6>
                                <a class="post-btn" href="/zodiacales/escorpio.html"><i
                                        class="fa fa-arrow-right"></i></a>

                            </div>
                            <div class="post-thumb post-left">
                                <a href="/zodiacales/escorpio.html">
                                    <img class="img-fluid" src="/images/icon/escorpio.png" alt="Post 1">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="single-rpost d-sm-flex" data-aos="fade-left" data-aos-delay="200"
                            data-aos-duration="800">
                            <div class="post-thumb">
                                <a href="/zodiacales/sagitario.html">
                                    <img class="img-fluid" src="/images/icon/sagitario.png" alt="Post 1">
                                </a>                                
                            </div>
                            <div class="post-content">
                                <h1><time datetime="2019-04-06T13:53">23/Noviembre - 21/Diciembre</time></h1>
                                <h3>
                                    <a href="/zodiacales/sagitario.html">Sagitario</a>
                                    <i class="fa fa-edit"></i>
                                </h3>
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui repellat neque
                                    libero mollitia ut eligendi corrupti illum accusamus. Quos odit aliquam
                                    perspiciatis</h5>
                                <h6 style="color:rgb(231, 34, 7)">Fuego</h6>
                                <a class="post-btn" href="/zodiacales/sagitario.html"><i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>