<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">

            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>

        <section class="ingreso recent-posts">
            <div class="container">
                <div class="title text-center">
                    <h1 class="title-blue">Iniciar sesión</h1>
                </div>
                <div class="cta-content">
                    <div class="container">
                        <div class="d-md-flex align-items-center justify-content-around text-center text-xl-left" style="flex-direction: column;">
                            <img src="/images/cosmicatarot2.png" alt="logo" class="logo">
                            <form method="POST" action="index">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" class="form-control <%= (typeof inputs != 'undefined' && typeof errors.email == 'undefined')?"is-valid":(typeof errors != 'undefined' && errors.email)?"is-invalid": ""  %>" id="mail" name="mail" value="<%= (typeof inputs != 'undefined' && inputs.email)?inputs.email:'' %>" placeholder="Ingrese su e-mail">
                                    <small class="text-warning"><%= (typeof errors != 'undefined' && errors.email)?errors.email.msg: "" %> </small>

                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Contraseña</label>
                                    <input type="password" name="pass" id="pass" class="form-control <%= (typeof inputs != 'undefined' && typeof errors.pass == 'undefined')?"is-valid":(typeof errors != 'undefined' && errors.constraseña)?"is-invalid": ""  %>" value="<%= (typeof inputs != 'undefined' && inputs.pass)?inputs.pass:'' %>" placeholder="Ingrese su pass">
                                    <small class="text-warning"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %> </small>

                                </div>
                                <span>¿Te olviste la contraseña? Formateala desde el mail</span>
                                <div class="d-flex justify-content-center">
                                    <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="400" data-aos-offset="0">
                                        <button type="submit" class="btn btn-primary">Inicia sesión</button>
                                        <a href="register" class="btn btn-primary">registrate</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>