<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">

            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>

        <section class="recent-post">
            <div class="cta-content2" style="padding:2em 0 2.5em; margin:3em 0">
                <div class="container" style="display:block; justify-content: center; align-items: center;">
                    <div class="d-md-flex row align-items-center justify-content-center text-xl-start text-xl-start content-img"
                        style="flex-direction: column; justify-content: center;">
                        <div class="col-lg-12">
                            <div class="test-img">
                                <img src="/images/users/<%= usuario.avatar%>" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6" style="display: flex; justify-content: center; flex-direction: column;">
                            <div class="col-lg-12" style="justify-content: center; display: flex;">
                                <h1><%= usuario.nameuser%></h1>
                            </div>
                            <div class="col-lg-12" style="display: flex; justify-content: space-between;">
                                <div class="col-lg-12 title" style="display: flex; justify-content: space-between;">
                                    <h6><%=usuario.idsigno %></h6>
                                    <h6 style="color: rgb(0, 132, 184)"><%= usuario.idtiposigno %>  </h6>
                                                                       
                                </div>
                            </div>
                            <div class="col-lg-12" style="display: flex; justify-content: center;">
                                <p>Pequeña descripcion sombre cada uno</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="testimonials">
                <div class="title text-center">
                    <h1 class="title-blue">Post sobre tu signo</h1>
                </div>
            </div>
            <div class="services">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 border-radius">
                            <div class="media rounded-bottom" data-aos="fade-up" data-aos-delay="200"
                                data-aos-duration="400">
                                <div class="imgblog">
                                    <a href="/post.html"><img
                                            src="assets/images/07_ small-kitchen-homepersonalshopper.jpg"
                                            alt="Web Development"></a>
                                </div>
                                <div class="media-body">
                                    <h5>Mira la nueva casa</h5>
                                    <h6>Donec volutpat tincidunt neque, vitae lobortis libero mattis sed tempus.</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->

    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>