<!doctype html>
<html lang="es-Ar">
<%- include('partials/head') %>
<script src="/javascripts/registerValidator.js"></script>
<body>    
    <div class="bodybg">
        <!-- Header Start -->
        <%- include('partials/header') %> 
        <!-- Header End-->
        <section class="hero">
            <div class="texture"></div>
            <div class="diag-bg"></div>
        </section>
        <section class="ingreso recent-posts">
            <div class="container">
                <div class="title text-center">
                    <h1 class="title-blue">registrarme</h1>
                </div>
                <div class="cta-content">
                    <div class="container">
                        <div class="d-md-flex align-items-center justify-content-around text-center text-xl-left"
                            style="flex-direction: column;">
                            <img src="/images/cosmicatarot2.png" alt="logo" class="logo">

                            <form method="POST" action="" style="margin-top: .5em; width:25em" id="formRegister">
                                <div class="form-group">
                                    <label for="users">Nombre o Nick <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control <%= (typeof inputs != 'undefined' && typeof errors.name == 'undefined')?"is-valid":(typeof errors != 'undefined' && errors.nombre)?"is-invalid": ""  %>" id="users" name="name" value="<%= (typeof inputs != 'undefined' && inputs.name)?inputs.name:'' %>" placeholder="Ingrese tu nombre o un nick">
                                    <small id="errorNombre" class="text-danger"><%= (typeof errors != 'undefined' && errors.name)?errors.name.msg: "" %> </small>
                                </div>
                                <div class="form-group">
                                    <label for="date">Fecha de nacimiento <span class="text-danger">*</span></label>
                                    <input type="date" class="form-control" id="date" name="date">
                                    <small id="errorDate" class="text-danger"><%= (typeof errors != 'undefined' && errors.date)?errors.date.msg: "" %> </small>
                                </div>
                                <div class="form-group">
                                    <label for="mail">E-mail <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" id="mail" name="mail"></input>
                                    <small id="errorEmail"  class="text-danger"><%= (typeof errors != 'undefined' && errors.mail)?errors.mail.msg: "" %> </small>
                                </div>
                                <div class="form-group">
                                    <label for="pass">Contraseña <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control" name="pass" id="pass"></input>
                                    <small id="errorPass" class="text-danger"><%= (typeof errors != 'undefined' && errors.pass)?errors.pass.msg: "" %> </small>
                                </div>
                                <div class="form-group">
                                    <label for="pass2">Reingresar contraseña <span class="text-danger">*</span></label>
                                    <input type="password" class="form-control"  name="pass2">
                                    <small id="errorPass2" class="text-danger"><%= (typeof errors != 'undefined' && errors.pass2)?errors.pass2.msg: "" %> </small>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <div class="subscribe-btn" data-aos="fade-left" data-aos-delay="200"
                                        data-aos-offset="0">
                                        <h6 class="text-danger d-flex justify-content-center">* Campos obligatorios</h6>
                                        <button type="submit" class="btn btn-primary">Registrese</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer Start-->
        <%- include('partials/footer') %> 
        <!-- Fotter End-->
    </div>
    <!-- Scripts Start-->
    <%- include('partials/scripts') %> 
    <!-- Scripts End-->
</body>
</html>