<!doctype html>
<html lang="es-Ar">

<%- include('partials/head') %>

    <body>
        <div class="bodybg">
            <!-- Header Start -->
            <%- include('partials/header') %>
                <!-- Header End-->
                <section class="hero">

                    <div class="texture"></div>
                    <div class="diag-bg"></div>
                </section>

                <section class="recent-posts">
                    <div class="container">
                        <h6 class="title-blue">Actualizado: <%= actualizado %> </h6>
                        <div class=" text-center">
                            <img class="img-fluid" src="/images/icon/<%= signo.img%>" alt="Post 1">
                            <div class="d-flex justify-content-between title-blue align-items-center titleplus">
                                <div></div>
                                <div>
                                    <h1>
                                    <%= signo.nombre %>
                                    <% if (typeof usuario != "undefined" && usuario.rol=="admin") { %>
                                     <a href="<%='/horoscopo/signo/edit/'+ signo.id%> ">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    <% } %>
                                    
                                    </h1>
                                </div> 
                                <div class="messiguiente pagination">
                                    
                                </div>
                            </div>
                            <h3 class="title-blue"><%= nombremessigno %></h3>
                            <h5 class="title-blue">
                                <%=signo.horoscopoposteo[signo.horoscopoposteo.length-1].description%>
                            </h5>
                        </div>
                        
                        <div class="cta-content" style="padding:1.5em 5em 1em 4em">
                            <div class="container">
                                <div class="d-md-flex align-items-center justify-content-around text-xl-start text-xl-start content-img"
                                    style="flex-direction: column; padding-bottom: 3em;">
                                    <p>
                                        <%= signo.horoscopoposteo[signo.horoscopoposteo.length-1].text %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- Footer Start-->
                <%- include('partials/footer') %>
                    <!-- Fotter End-->

        </div>
        <!-- Scripts Start-->
        <%- include('partials/scripts') %>
            <!-- Scripts End-->
    </body>

</html>